# 기본 라이브러리 불러오기

In [59]:
import pandas as pd
import numpy as np
import matplotlib as plt
import folium
from sklearn.preprocessing import minmax_scale, MinMaxScaler

보호구역 완료된 전처리 불러오기

In [101]:
df = pd.read_excel('C:/Users/wnrrh/desktop/data/전처리최종/최종데이터셋.xlsx',header=0)

In [106]:
df2 = pd.read_excel('C:/Users/wnrrh/desktop/data/전처리최종/총생활인구수수정.xlsx',header=0)

In [102]:
columns = ['시설명','시간대구분','주소','시설종류','구역지정수','CCTV 수','도로표지판 수',
          '과속방지턱 수','위도','경도','CCTV 설치여부','보호구역도로폭','tmp','속도',
          '도로명','행정동','시군구명','총생활인구수','사망자수','중상자수','경상자수',
          '부상신고자수','가해운전자 차종','피해운전자 차종','피해운전자 연령','사고 수',
          '통행량 도로명', '통행량']
df.columns = columns

In [107]:
columns = ['시설명','주소','시군구명','행정동','도로명','tmp','시설종류','시간대구분','구역지정수',
         'CCTV 설치여부','CCTV 수','도로표지판 수','과속방지턱 수','보호구역도로폭','속도','위도','경도','통행량 도로명','통행량',
        '사고 수','총생활인구수','사망자수','중상자수','경상자수','부상신고자수','가해운전자 차종','피해운전자 차종','피해운전자 연령']
df2.columns = columns

In [96]:
# 컬럼 재배치
df = df[['시설명','주소','시군구명','행정동','도로명','tmp','시설종류','시간대구분','구역지정수',
         'CCTV 설치여부','CCTV 수','도로표지판 수','과속방지턱 수','보호구역도로폭','속도','위도','경도','통행량 도로명','통행량',
        '사고 수','총생활인구수','사망자수','중상자수','경상자수','부상신고자수','가해운전자 차종','피해운전자 차종','피해운전자 연령']]

In [77]:
df.fillna(0,inplace = True)

In [108]:
df2.describe()

,시간대구분,구역지정수,CCTV 수,도로표지판 수,과속방지턱 수,보호구역도로폭,속도,위도,경도,통행량,사고 수,총생활인구수,사망자수,중상자수,경상자수,부상신고자수,가해운전자 차종,피해운전자 차종,피해운전자 연령
count,36240.000000,36240.00000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000
mean,11.499807,2.00000,0.549669,8.024071,3.842384,4.747050,25.949825,37.552190,126.996145,0.227212,0.038383,0.157671,0.000304,0.013217,0.028146,0.004167,0.702704,0.266455,1.186119
std,6.922059,1.59513,1.639715,19.309965,10.307874,5.697355,5.652662,0.054442,0.090630,0.144007,0.209439,0.089531,0.017420,0.127236,0.207565,0.069366,23.033552,7.514451,7.528026
min,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,9.836159,37.440234,126.804664,0.000000,0.000000,0.000010,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.750000,1.00000,0.000000,0.000000,0.000000,0.000000,21.879010,37.505828,126.918121,0.119859,0.000000,0.098063,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,11.500000,2.00000,0.000000,7.225000,0.000000,4.000000,25.336215,37.547955,127.015046,0.209578,0.000000,0.142198,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,17.250000,3.00000,0.000000,9.500000,3.000000,7.000000,29.434898,37.591654,127.066969,0.289030,0.000000,0.202109,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,23.000000,13.00000,13.000000,702.000000,100.000000,43.000000,55.482400,37.686930,127.180269,1.000000,3.000000,1.000000,1.000000,5.000000,6.000000,3.000000,999.000000,999.000000,91.000000

In [79]:
def MinMax(x):
    _max = x.max()
    _min = x.min()
    _denominator = _max - _min
    return (x- _min) / _denominator
df['통행량'] = MinMax(df['통행량'])
df

,시설명,주소,시군구명,행정동,도로명,tmp,시설종류,시간대구분,구역지정수,CCTV 설치여부,...,통행량,사고 수,총생활인구수,사망자수,중상자수,경상자수,부상신고자수,가해운전자 차종,피해운전자 차종,피해운전자 연령
0,GKL행복어린이집,서울특별시 강남구 삼성로122길 7 (삼성동),관악구,삼성동,삼성로122길,삼성로,어린이집,0,1,Y,...,0.123785,0.0,26699.494570,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,강남구청직장어린이집,서울특별시 강남구 학동로 426 (삼성동),관악구,삼성동,학동로,학동로,어린이집,0,1,Y,...,0.123785,0.0,26699.494570,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,서울삼릉초등학교,서울특별시 강남구 봉은사로63길 22 (삼성동),관악구,삼성동,봉은사로63길,봉은사로,초등학교,0,4,Y,...,0.123785,0.0,26699.494570,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,삼성어린이집(관악구),서울특별시 강남구 영동대로122길 7-6 (삼성동),관악구,삼성동,영동대로122길,영동대로,어린이집,0,1,Y,...,0.123785,0.0,26699.494570,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,서울정애학교,서울특별시 강남구 봉은사로81길 16 (삼성동),관악구,삼성동,봉은사로81길,봉은사로,특수학교,0,2,Y,...,0.123785,0.0,26699.494570,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36235,일신유치원,서울특별시 중구 퇴계로6길 36,중구,회현동,퇴계로6길,퇴계로,유치원,19,1,Y,...,0.158474,0.0,25378.261480,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36236,일신유치원,서울특별시 중구 퇴계로6길 36,중구,회현동,퇴계로6길,퇴계로,유치원,20,1,Y,...,0.149001,0.0,19948.734830,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36237,일신유치원,서울특별시 중구 퇴계로6길 36,중구,회현동,퇴계로6길,퇴계로,유치원,21,1,Y,...,0.152929,0.0,16343.499440,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36238,일신유치원,서울특별시 중구 퇴계로6길 36,중구,회현동,퇴계로6길,퇴계로,유치원,22,1,Y,...,0.140663,0.0,13488.129400,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36239,일신유치원,서울특별시 중구 퇴계로6길 36,중구,회현동,퇴계로6길,퇴계로,유치원,23,1,Y,...,0.107886,0.0,9679.315927,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [80]:
def MinMax(x):
    _max = x.max()
    _min = x.min()
    _denominator = _max - _min
    return (x- _min) / _denominator
df['총생활인구수'] = MinMax(df['총생활인구수'])
df

,시설명,주소,시군구명,행정동,도로명,tmp,시설종류,시간대구분,구역지정수,CCTV 설치여부,...,통행량,사고 수,총생활인구수,사망자수,중상자수,경상자수,부상신고자수,가해운전자 차종,피해운전자 차종,피해운전자 연령
0,GKL행복어린이집,서울특별시 강남구 삼성로122길 7 (삼성동),관악구,삼성동,삼성로122길,삼성로,어린이집,0,1,Y,...,0.123785,0.0,0.150903,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,강남구청직장어린이집,서울특별시 강남구 학동로 426 (삼성동),관악구,삼성동,학동로,학동로,어린이집,0,1,Y,...,0.123785,0.0,0.150903,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,서울삼릉초등학교,서울특별시 강남구 봉은사로63길 22 (삼성동),관악구,삼성동,봉은사로63길,봉은사로,초등학교,0,4,Y,...,0.123785,0.0,0.150903,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,삼성어린이집(관악구),서울특별시 강남구 영동대로122길 7-6 (삼성동),관악구,삼성동,영동대로122길,영동대로,어린이집,0,1,Y,...,0.123785,0.0,0.150903,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,서울정애학교,서울특별시 강남구 봉은사로81길 16 (삼성동),관악구,삼성동,봉은사로81길,봉은사로,특수학교,0,2,Y,...,0.123785,0.0,0.150903,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36235,일신유치원,서울특별시 중구 퇴계로6길 36,중구,회현동,퇴계로6길,퇴계로,유치원,19,1,Y,...,0.158474,0.0,0.142308,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36236,일신유치원,서울특별시 중구 퇴계로6길 36,중구,회현동,퇴계로6길,퇴계로,유치원,20,1,Y,...,0.149001,0.0,0.106985,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36237,일신유치원,서울특별시 중구 퇴계로6길 36,중구,회현동,퇴계로6길,퇴계로,유치원,21,1,Y,...,0.152929,0.0,0.083531,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36238,일신유치원,서울특별시 중구 퇴계로6길 36,중구,회현동,퇴계로6길,퇴계로,유치원,22,1,Y,...,0.140663,0.0,0.064955,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36239,일신유치원,서울특별시 중구 퇴계로6길 36,중구,회현동,퇴계로6길,퇴계로,유치원,23,1,Y,...,0.107886,0.0,0.040176,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [83]:
df.to_excel('C:/Users/wnrrh/desktop/data/전처리최종/총생활인구수수정.xlsx')

통행량 평균 1646
총생활인구수 27740

In [109]:
df2['위험도'] = 0
for i in range(len(df)):
    df2.loc[i,'위험도'] = ((df2.loc[i,'사망자수'] + df2.loc[i,'중상자수']*0.7 + df2.loc[i,'경상자수']*0.3 + df2.loc[i,'부상신고자수']*0.3)+(df2.loc[i,'통행량']))/(df2.loc[i,'총생활인구수'])

In [110]:
df2.describe()

,시간대구분,구역지정수,CCTV 수,도로표지판 수,과속방지턱 수,보호구역도로폭,속도,위도,경도,통행량,사고 수,총생활인구수,사망자수,중상자수,경상자수,부상신고자수,가해운전자 차종,피해운전자 차종,피해운전자 연령,위험도
count,36240.000000,36240.00000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000
mean,11.499807,2.00000,0.549669,8.024071,3.842384,4.747050,25.949825,37.552190,126.996145,0.227212,0.038383,0.157671,0.000304,0.013217,0.028146,0.004167,0.702704,0.266455,1.186119,3.890180
std,6.922059,1.59513,1.639715,19.309965,10.307874,5.697355,5.652662,0.054442,0.090630,0.144007,0.209439,0.089531,0.017420,0.127236,0.207565,0.069366,23.033552,7.514451,7.528026,171.750814
min,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,9.836159,37.440234,126.804664,0.000000,0.000000,0.000010,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.750000,1.00000,0.000000,0.000000,0.000000,0.000000,21.879010,37.505828,126.918121,0.119859,0.000000,0.098063,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.742537
50%,11.500000,2.00000,0.000000,7.225000,0.000000,4.000000,25.336215,37.547955,127.015046,0.209578,0.000000,0.142198,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.425424
75%,17.250000,3.00000,0.000000,9.500000,3.000000,7.000000,29.434898,37.591654,127.066969,0.289030,0.000000,0.202109,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.628175
max,23.000000,13.00000,13.000000,702.000000,100.000000,43.000000,55.482400,37.686930,127.180269,1.000000,3.000000,1.000000,1.000000,5.000000,6.000000,3.000000,999.000000,999.000000,91.000000,22670.044951

In [70]:
df2.to_excel('C:/Users/wnrrh/desktop/data/전처리최종/총생활인구수_통행량_minmax.xlsx')

In [111]:
def MinMax(x):
    _max = x.max()
    _min = x.min()
    _denominator = _max - _min
    return (x- _min) / _denominator
df2['위험도'] = MinMax(df2['위험도'])
df2

,시설명,주소,시군구명,행정동,도로명,tmp,시설종류,시간대구분,구역지정수,CCTV 설치여부,...,사고 수,총생활인구수,사망자수,중상자수,경상자수,부상신고자수,가해운전자 차종,피해운전자 차종,피해운전자 연령,위험도
0,서울명신초등학교,서울특별시 종로구 낙산길 250,종로구,창신3동,낙산길,삼선교로,초등학교,15,1,Y,...,0,0.000010,0,0,0,0,0.0,0.0,0.0,1.000000
1,아동회관어린이집,서울특별시 종로구 지봉로13길 14,종로구,창신3동,지봉로13길,지봉로,어린이집,15,1,Y,...,0,0.000010,0,0,0,0,0.0,0.0,0.0,1.000000
2,서울명신초등학교,서울특별시 종로구 낙산길 250,종로구,창신3동,낙산길,삼선교로,초등학교,16,1,Y,...,0,0.000076,0,0,0,0,0.0,0.0,0.0,0.134195
3,아동회관어린이집,서울특별시 종로구 지봉로13길 14,종로구,창신3동,지봉로13길,지봉로,어린이집,16,1,Y,...,0,0.000076,0,0,0,0,0.0,0.0,0.0,0.134195
4,서울명신초등학교,서울특별시 종로구 낙산길 250,종로구,창신3동,낙산길,삼선교로,초등학교,14,1,Y,...,1,0.000130,0,0,1,0,4.0,8.0,7.0,0.176355
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36235,역삼초등학교병설유치원,서울특별시 강남구 강남대로66길 21 (역삼동),강남구,역삼1동,강남대로66길,강남대로,유치원(병설),13,3,Y,...,0,0.993741,0,0,0,0,0.0,0.0,0.0,0.000009
36236,충현어린이집,서울특별시 강남구 테헤란로27길 40 (역삼동),강남구,역삼1동,테헤란로27길,테헤란로,어린이집,14,2,Y,...,0,1.000000,0,0,0,0,0.0,0.0,0.0,0.000011
36237,역삼어린이집,서울특별시 강남구 테헤란로22길 46 (역삼동),강남구,역삼1동,테헤란로22길,테헤란로,어린이집,14,1,Y,...,0,1.000000,0,0,0,0,0.0,0.0,0.0,0.000009
36238,서울역삼초등학교,서울특별시 강남구 강남대로66길 21 (역삼동),강남구,역삼1동,강남대로66길,강남대로,초등학교,14,3,Y,...,0,1.000000,0,0,0,0,0.0,0.0,0.0,0.000009
36239,역삼초등학교병설유치원,서울특별시 강남구 강남대로66길 21 (역삼동),강남구,역삼1동,강남대로66길,강남대로,유치원(병설),14,3,Y,...,0,1.000000,0,0,0,0,0.0,0.0,0.0,0.000009

In [112]:
df2.describe()

,시간대구분,구역지정수,CCTV 수,도로표지판 수,과속방지턱 수,보호구역도로폭,속도,위도,경도,통행량,사고 수,총생활인구수,사망자수,중상자수,경상자수,부상신고자수,가해운전자 차종,피해운전자 차종,피해운전자 연령,위험도
count,36240.000000,36240.00000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000
mean,11.499807,2.00000,0.549669,8.024071,3.842384,4.747050,25.949825,37.552190,126.996145,0.227212,0.038383,0.157671,0.000304,0.013217,0.028146,0.004167,0.702704,0.266455,1.186119,0.000172
std,6.922059,1.59513,1.639715,19.309965,10.307874,5.697355,5.652662,0.054442,0.090630,0.144007,0.209439,0.089531,0.017420,0.127236,0.207565,0.069366,23.033552,7.514451,7.528026,0.007576
min,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,9.836159,37.440234,126.804664,0.000000,0.000000,0.000010,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.750000,1.00000,0.000000,0.000000,0.000000,0.000000,21.879010,37.505828,126.918121,0.119859,0.000000,0.098063,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000033
50%,11.500000,2.00000,0.000000,7.225000,0.000000,4.000000,25.336215,37.547955,127.015046,0.209578,0.000000,0.142198,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000063
75%,17.250000,3.00000,0.000000,9.500000,3.000000,7.000000,29.434898,37.591654,127.066969,0.289030,0.000000,0.202109,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000116
max,23.000000,13.00000,13.000000,702.000000,100.000000,43.000000,55.482400,37.686930,127.180269,1.000000,3.000000,1.000000,1.000000,5.000000,6.000000,3.000000,999.000000,999.000000,91.000000,1.000000

In [73]:
df.to_excel('C:/Users/wnrrh/desktop/data/전처리최종/위험도산정(not_in_minmax).xlsx')

In [39]:
def MinMax(x):
    _max = x.max()
    _min = x.min()
    _denominator = _max - _min
    return (x- _min) / _denominator
df['통행량'] = minMax(df['통행량'])
df

,시설명,주소,시군구명,행정동,도로명,tmp,시설종류,시간대구분,구역지정수,CCTV 설치여부,...,총생활인구수,사망자수,중상자수,경상자수,부상신고자수,가해운전자 차종,피해운전자 차종,피해운전자 연령,위험도,기존위험도
0,GKL행복어린이집,서울특별시 강남구 삼성로122길 7 (삼성동),관악구,삼성동,삼성로122길,삼성로,어린이집,0,1,Y,...,26699.494570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.059597,0.0
1,강남구청직장어린이집,서울특별시 강남구 학동로 426 (삼성동),관악구,삼성동,학동로,학동로,어린이집,0,1,Y,...,26699.494570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.059597,0.0
2,서울삼릉초등학교,서울특별시 강남구 봉은사로63길 22 (삼성동),관악구,삼성동,봉은사로63길,봉은사로,초등학교,0,4,Y,...,26699.494570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.059597,0.0
3,삼성어린이집(관악구),서울특별시 강남구 영동대로122길 7-6 (삼성동),관악구,삼성동,영동대로122길,영동대로,어린이집,0,1,Y,...,26699.494570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.059597,0.0
4,서울정애학교,서울특별시 강남구 봉은사로81길 16 (삼성동),관악구,삼성동,봉은사로81길,봉은사로,특수학교,0,2,Y,...,26699.494570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.059597,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36235,일신유치원,서울특별시 중구 퇴계로6길 36,중구,회현동,퇴계로6길,퇴계로,유치원,19,1,Y,...,25378.261480,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.080423,0.0
36236,일신유치원,서울특별시 중구 퇴계로6길 36,중구,회현동,퇴계로6길,퇴계로,유치원,20,1,Y,...,19948.734830,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.096544,0.0
36237,일신유치원,서울특별시 중구 퇴계로6길 36,중구,회현동,퇴계로6길,퇴계로,유치원,21,1,Y,...,16343.499440,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.121240,0.0
36238,일신유치원,서울특별시 중구 퇴계로6길 36,중구,회현동,퇴계로6길,퇴계로,유치원,22,1,Y,...,13488.129400,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.135445,0.0
36239,일신유치원,서울특별시 중구 퇴계로6길 36,중구,회현동,퇴계로6길,퇴계로,유치원,23,1,Y,...,9679.315927,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.145534,0.0

In [40]:
df.describe()

,시간대구분,구역지정수,CCTV 수,도로표지판 수,과속방지턱 수,보호구역도로폭,속도,위도,경도,통행량,...,총생활인구수,사망자수,중상자수,경상자수,부상신고자수,가해운전자 차종,피해운전자 차종,피해운전자 연령,위험도,기존위험도
count,36240.000000,36240.00000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,...,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000
mean,11.499807,2.00000,0.549669,8.024071,3.842384,4.747050,25.949825,37.552190,126.996145,0.227212,...,27739.755215,0.000304,0.013217,0.028146,0.004167,0.702704,0.266455,1.186119,0.132752,0.000973
std,6.922059,1.59513,1.639715,19.309965,10.307874,5.697355,5.652662,0.054442,0.090630,0.144007,...,13762.092093,0.017420,0.127236,0.207565,0.069366,23.033552,7.514451,7.528026,0.115372,0.009275
min,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,9.836159,37.440234,126.804664,0.000000,...,3503.768696,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.750000,1.00000,0.000000,0.000000,0.000000,0.000000,21.879010,37.505828,126.918121,0.119859,...,18577.342133,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.053530,0.000000
50%,11.500000,2.00000,0.000000,7.225000,0.000000,4.000000,25.336215,37.547955,127.015046,0.209578,...,25361.472990,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.100226,0.000000
75%,17.250000,3.00000,0.000000,9.500000,3.000000,7.000000,29.434898,37.591654,127.066969,0.289030,...,34570.528870,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.172147,0.000000
max,23.000000,13.00000,13.000000,702.000000,100.000000,43.000000,55.482400,37.686930,127.180269,1.000000,...,157216.598400,1.000000,5.000000,6.000000,3.000000,999.000000,999.000000,91.000000,1.000000,1.000000

In [43]:
df["위험도"]=0
for i in range(len(df)):
    df.loc[i,"위험도"]= (df.loc[i,'통행량']*0.5 + (df.loc[i,'사고 수'] * (df.loc[i,'사망자수'] + df.loc[i,'중상자수']*0.7 + df.loc[i,'경상자수']*0.3 + df.loc[i,'부상신고자수']*0.3)) / df.loc[i,'총생활인구수']

In [42]:
df.describe()

,시간대구분,구역지정수,CCTV 수,도로표지판 수,과속방지턱 수,보호구역도로폭,속도,위도,경도,통행량,...,총생활인구수,사망자수,중상자수,경상자수,부상신고자수,가해운전자 차종,피해운전자 차종,피해운전자 연령,위험도,기존위험도
count,36240.000000,36240.00000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,...,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000
mean,11.499807,2.00000,0.549669,8.024071,3.842384,4.747050,25.949825,37.552190,126.996145,0.227212,...,27739.755215,0.000304,0.013217,0.028146,0.004167,0.702704,0.266455,1.186119,0.246461,0.000973
std,6.922059,1.59513,1.639715,19.309965,10.307874,5.697355,5.652662,0.054442,0.090630,0.144007,...,13762.092093,0.017420,0.127236,0.207565,0.069366,23.033552,7.514451,7.528026,0.191368,0.009275
min,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,9.836159,37.440234,126.804664,0.000000,...,3503.768696,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.750000,1.00000,0.000000,0.000000,0.000000,0.000000,21.879010,37.505828,126.918121,0.119859,...,18577.342133,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.122484,0.000000
50%,11.500000,2.00000,0.000000,7.225000,0.000000,4.000000,25.336215,37.547955,127.015046,0.209578,...,25361.472990,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.215212,0.000000
75%,17.250000,3.00000,0.000000,9.500000,3.000000,7.000000,29.434898,37.591654,127.066969,0.289030,...,34570.528870,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.300350,0.000000
max,23.000000,13.00000,13.000000,702.000000,100.000000,43.000000,55.482400,37.686930,127.180269,1.000000,...,157216.598400,1.000000,5.000000,6.000000,3.000000,999.000000,999.000000,91.000000,5.469527,1.000000

In [36]:
def minMax(x):
    _max = x.max()
    _min = x.min()
    _denominator = _max - _min
    return (x- _min) / _denominator
df['기존위험도'] = minMax(df['기존위험도'])
df

,시설명,주소,시군구명,행정동,도로명,tmp,시설종류,시간대구분,구역지정수,CCTV 설치여부,...,총생활인구수,사망자수,중상자수,경상자수,부상신고자수,가해운전자 차종,피해운전자 차종,피해운전자 연령,위험도,기존위험도
0,GKL행복어린이집,서울특별시 강남구 삼성로122길 7 (삼성동),관악구,삼성동,삼성로122길,삼성로,어린이집,0,1,Y,...,26699.494570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.033853,0.0
1,강남구청직장어린이집,서울특별시 강남구 학동로 426 (삼성동),관악구,삼성동,학동로,학동로,어린이집,0,1,Y,...,26699.494570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.033853,0.0
2,서울삼릉초등학교,서울특별시 강남구 봉은사로63길 22 (삼성동),관악구,삼성동,봉은사로63길,봉은사로,초등학교,0,4,Y,...,26699.494570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.033853,0.0
3,삼성어린이집(관악구),서울특별시 강남구 영동대로122길 7-6 (삼성동),관악구,삼성동,영동대로122길,영동대로,어린이집,0,1,Y,...,26699.494570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.033853,0.0
4,서울정애학교,서울특별시 강남구 봉은사로81길 16 (삼성동),관악구,삼성동,봉은사로81길,봉은사로,특수학교,0,2,Y,...,26699.494570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.033853,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36235,일신유치원,서울특별시 중구 퇴계로6길 36,중구,회현동,퇴계로6길,퇴계로,유치원,19,1,Y,...,25378.261480,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.045423,0.0
36236,일신유치원,서울특별시 중구 퇴계로6길 36,중구,회현동,퇴계로6길,퇴계로,유치원,20,1,Y,...,19948.734830,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.054378,0.0
36237,일신유치원,서울특별시 중구 퇴계로6길 36,중구,회현동,퇴계로6길,퇴계로,유치원,21,1,Y,...,16343.499440,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.068098,0.0
36238,일신유치원,서울특별시 중구 퇴계로6길 36,중구,회현동,퇴계로6길,퇴계로,유치원,22,1,Y,...,13488.129400,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.075990,0.0
36239,일신유치원,서울특별시 중구 퇴계로6길 36,중구,회현동,퇴계로6길,퇴계로,유치원,23,1,Y,...,9679.315927,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.081595,0.0

In [37]:
def minmax(x):
    _max = x.max()
    _min = x.min()
    _denominator = _max - _min
    return (x- _min) / _denominator
df['위험도'] = minmax(df['위험도'])
df

,시설명,주소,시군구명,행정동,도로명,tmp,시설종류,시간대구분,구역지정수,CCTV 설치여부,...,총생활인구수,사망자수,중상자수,경상자수,부상신고자수,가해운전자 차종,피해운전자 차종,피해운전자 연령,위험도,기존위험도
0,GKL행복어린이집,서울특별시 강남구 삼성로122길 7 (삼성동),관악구,삼성동,삼성로122길,삼성로,어린이집,0,1,Y,...,26699.494570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.059597,0.0
1,강남구청직장어린이집,서울특별시 강남구 학동로 426 (삼성동),관악구,삼성동,학동로,학동로,어린이집,0,1,Y,...,26699.494570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.059597,0.0
2,서울삼릉초등학교,서울특별시 강남구 봉은사로63길 22 (삼성동),관악구,삼성동,봉은사로63길,봉은사로,초등학교,0,4,Y,...,26699.494570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.059597,0.0
3,삼성어린이집(관악구),서울특별시 강남구 영동대로122길 7-6 (삼성동),관악구,삼성동,영동대로122길,영동대로,어린이집,0,1,Y,...,26699.494570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.059597,0.0
4,서울정애학교,서울특별시 강남구 봉은사로81길 16 (삼성동),관악구,삼성동,봉은사로81길,봉은사로,특수학교,0,2,Y,...,26699.494570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.059597,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36235,일신유치원,서울특별시 중구 퇴계로6길 36,중구,회현동,퇴계로6길,퇴계로,유치원,19,1,Y,...,25378.261480,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.080423,0.0
36236,일신유치원,서울특별시 중구 퇴계로6길 36,중구,회현동,퇴계로6길,퇴계로,유치원,20,1,Y,...,19948.734830,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.096544,0.0
36237,일신유치원,서울특별시 중구 퇴계로6길 36,중구,회현동,퇴계로6길,퇴계로,유치원,21,1,Y,...,16343.499440,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.121240,0.0
36238,일신유치원,서울특별시 중구 퇴계로6길 36,중구,회현동,퇴계로6길,퇴계로,유치원,22,1,Y,...,13488.129400,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.135445,0.0
36239,일신유치원,서울특별시 중구 퇴계로6길 36,중구,회현동,퇴계로6길,퇴계로,유치원,23,1,Y,...,9679.315927,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.145534,0.0

In [38]:
df.describe()

,시간대구분,구역지정수,CCTV 수,도로표지판 수,과속방지턱 수,보호구역도로폭,속도,위도,경도,통행량,...,총생활인구수,사망자수,중상자수,경상자수,부상신고자수,가해운전자 차종,피해운전자 차종,피해운전자 연령,위험도,기존위험도
count,36240.000000,36240.00000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,...,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000,36240.000000
mean,11.499807,2.00000,0.549669,8.024071,3.842384,4.747050,25.949825,37.552190,126.996145,1645.951926,...,27739.755215,0.000304,0.013217,0.028146,0.004167,0.702704,0.266455,1.186119,0.132752,0.000973
std,6.922059,1.59513,1.639715,19.309965,10.307874,5.697355,5.652662,0.054442,0.090630,1033.264059,...,13762.092093,0.017420,0.127236,0.207565,0.069366,23.033552,7.514451,7.528026,0.115372,0.009275
min,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,9.836159,37.440234,126.804664,15.687675,...,3503.768696,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.750000,1.00000,0.000000,0.000000,0.000000,0.000000,21.879010,37.505828,126.918121,875.688098,...,18577.342133,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.053530,0.000000
50%,11.500000,2.00000,0.000000,7.225000,0.000000,4.000000,25.336215,37.547955,127.015046,1519.430840,...,25361.472990,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.100226,0.000000
75%,17.250000,3.00000,0.000000,9.500000,3.000000,7.000000,29.434898,37.591654,127.066969,2089.501467,...,34570.528870,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.172147,0.000000
max,23.000000,13.00000,13.000000,702.000000,100.000000,43.000000,55.482400,37.686930,127.180269,7190.780007,...,157216.598400,1.000000,5.000000,6.000000,3.000000,999.000000,999.000000,91.000000,1.000000,1.000000

AttributeError: 'Series' object has no attribute 'sort'

In [21]:
df['위험도'].apply(minmax_scale)
minmax_scale = MinMaxScaler(feature_range=[0,1]).fit(df[['위험도']])
df_minmax = minmax_scale.transform(df[['위험도']])

TypeError: Singleton array array(0.) cannot be considered a valid collection.