In [2]:
import pandas as pd
import numpy as np

2015년 병합

In [93]:
df201501 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2015년/1501.xlsx',header=0)
df201502 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2015년/1502.xlsx',header=0)
df201503 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2015년/1503.xlsx',header=0)
df201504 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2015년/1504.xlsx',header=0)
df201505 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2015년/1505.xlsx',header=0)
df201506 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2015년/1506.xlsx',header=0)
df201507 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2015년/1507.xlsx',header=0)
df201508 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2015년/1508.xlsx',header=0)
df201509 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2015년/1509.xlsx',header=0)
df201510 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2015년/1510.xlsx',header=0)
df201511 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2015년/1511.xlsx',header=0)
df201512 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2015년/1512.xlsx',header=0)
df2015_1 = pd.concat([df201501,df201502,df201503,df201504,df201505,df201506],ignore_index=True)
df2015_2 = pd.concat([df201507,df201508,df201509,df201510,df201511,df201512],ignore_index=True)
df2015 = pd.concat([df2015_1,df2015_2],ignore_index=True)

In [94]:
df2015.drop(['일자','요일','지점번호','구분','유입유출구분','Unnamed: 30'],axis=1,inplace=True)

2016 병합

In [95]:
df201601 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2016년/1601.xlsx',header=0)
df201602 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2016년/1602.xlsx',header=0)
df201603 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2016년/1603.xlsx',header=0)
df201604 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2016년/1604.xlsx',header=0)
df201605 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2016년/1605.xlsx',header=0)
df201606 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2016년/1606.xlsx',header=0)
df201607 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2016년/1607.xlsx',header=0)
df201608 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2016년/1608.xlsx',header=0)
df201609 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2016년/1609.xlsx',header=0)
df201610 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2016년/1610.xlsx',header=0)
df201611 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2016년/1611.xlsx',header=0)
df201612 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2016년/1612.xlsx',header=0)
df2016_1 = pd.concat([df201601,df201602,df201603,df201604,df201605,df201606],ignore_index=True)
df2016_2 = pd.concat([df201607,df201608,df201609,df201610,df201611,df201612],ignore_index=True)
df2016 = pd.concat([df2016_1,df2016_2],ignore_index=True)

In [96]:
df2016.drop(['일자','요일','지점번호','구분','Unnamed: 30','Unnamed: 31','Unnamed: 32','Unnamed: 33','Unnamed: 34',
            'Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','Unnamed: 41','Unnamed: 42',
            'Unnamed: 43','Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47','Unnamed: 48'],axis=1,inplace=True)

2017년 병합

In [165]:
df201701 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2017년/1701.xlsx',header=0)
df201702 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2017년/1702.xlsx',header=0)
df201703 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2017년/1703.xlsx',header=0)
df201704 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2017년/1704.xlsx',header=0)
df201705 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2017년/1705.xlsx',header=0)
df201706 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2017년/1706.xlsx',header=0)
df201707 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2017년/1707.xlsx',header=0)
df201708 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2017년/1708.xlsx',header=0)
df201709 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2017년/1709.xlsx',header=0)
df201710 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2017년/1710.xlsx',header=0)
df201711 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2017년/1711.xlsx',header=0)
df201712 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2017년/1712.xlsx',header=0)
df2017_1 = pd.concat([df201701,df201702,df201703,df201704,df201705,df201706],ignore_index=True)
df2017_2 = pd.concat([df201707,df201708,df201709,df201710,df201711,df201712],ignore_index=True)
df2017 = pd.concat([df2017_1,df2017_2],ignore_index=True)

In [166]:
df2017.drop(['일자','요일','지점번호','구분'],axis=1,inplace=True)

2018년 병합

In [99]:
df201801 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2018년/1801.xlsx',sheet_name = '2018년 1월',header=0)
df201802 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2018년/1802.xlsx',sheet_name = '2018년 2월',header=0)
df201803 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2018년/1803.xlsx',sheet_name = '2018년 3월',header=0)
df201804 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2018년/1804.xlsx',sheet_name = '2018년 4월',header=0)
df201805 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2018년/1805.xlsx',sheet_name = '2018년 5월',header=0)
df201806 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2018년/1806.xlsx',sheet_name = '2018년 6월',header=0)
df201807 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2018년/1807.xlsx',sheet_name = '2018년 7월',header=0)
df201808 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2018년/1808.xlsx',sheet_name = '2018년 8월',header=0)
df201809 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2018년/1809.xlsx',sheet_name = '2018년 9월',header=0)
df201810 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2018년/1810.xlsx',sheet_name = '2018년 10월',header=0)
df201811 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2018년/1811.xlsx',sheet_name = '2018년 11월',header=0)
df201812 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2018년/1812.xlsx',sheet_name = '2018년 12월',header=0)
df2018_1 = pd.concat([df201801,df201802,df201803,df201804,df201805,df201806],ignore_index=True)
df2018_2 = pd.concat([df201807,df201808,df201809,df201810,df201811,df201812],ignore_index=True)
df2018=pd.concat([df2018_1,df2018_2],ignore_index=True)

In [100]:
df2018.drop(['일자','요일','지점번호','구분','Unnamed: 30'],axis=1,inplace=True)

2019년 병합

In [101]:
df201901 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2019년/1901.xlsx',sheet_name = '2019년 1월',header=0)
df201902 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2019년/1902.xlsx',sheet_name = '2019년 2월',header=0)
df201903 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2019년/1903.xlsx',sheet_name = '2019년 3월',header=0)
df201904 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2019년/1904.xlsx',sheet_name = '2019년 4월',header=0)
df201905 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2019년/1905.xlsx',sheet_name = '2019년 5월',header=0)
df201906 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2019년/1906.xlsx',sheet_name = '2019년 6월',header=0)
df201907 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2019년/1907.xlsx',sheet_name = '2019년 7월',header=0)
df201908 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2019년/1908.xlsx',sheet_name = '2019년 8월',header=0)
df201909 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2019년/1909.xlsx',sheet_name = '2019년 9월',header=0)
df201910 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2019년/1910.xlsx',sheet_name = '2019년 10월',header=0)
df201911 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2019년/1911.xlsx',sheet_name = '2019년 11월',header=0)
df201912 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2019년/1912.xlsx',sheet_name = '2019년 12월',header=0)
df2019_1 = pd.concat([df201901,df201902,df201903,df201904,df201905,df201906],ignore_index=True)
df2019_2 = pd.concat([df201907,df201908,df201909,df201910,df201911,df201912],ignore_index=True)
df2019 = pd.concat([df2019_1,df2019_2],ignore_index=True)

In [102]:
df2019.drop(['일자','요일','월','지점번호','구분'],axis=1,inplace=True)

2020년 병합

In [103]:
df202001 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2020년/2001.xlsx',sheet_name = '2020년 01월',header=0)
df202002 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2020년/2002.xlsx',sheet_name = '2020년 02월',header=0)
df202003 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2020년/2003.xlsx',sheet_name = '2020년 03월',header=0)
df202004 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2020년/2004.xlsx',sheet_name = '2020년 04월',header=0)
df202005 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2020년/2005.xlsx',sheet_name = '2020년 05월',header=0)
df202006 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2020년/2006.xlsx',sheet_name = '2020년 06월',header=0)
df202007 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2020년/2007.xlsx',sheet_name = '2020년 07월',header=0)
df202008 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2020년/2008.xlsx',sheet_name = '2020년 08월',header=0)
df202009 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2020년/2009.xlsx',sheet_name = '2020년 09월',header=0)
df202010 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2020년/2010.xlsx',sheet_name = '2020년 10월',header=0)
df202011 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2020년/2011.xlsx',sheet_name = '2020년 11월',header=0)
df202012 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2020년/2012.xlsx',sheet_name = '2020년 12월',header=0)
df2020_1 = pd.concat([df202001,df202002,df202003,df202004,df202005,df202006],ignore_index=True)
df2020_2 = pd.concat([df202007,df202008,df202009,df202010,df202011,df202012],ignore_index=True)
df2020 = pd.concat([df2020_1,df2020_2],ignore_index=True)

In [104]:
df2020.drop(['일자','요일','지점번호','구분'],axis=1,inplace=True)

2017년 타입 변경

In [167]:
df2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104432 entries, 0 to 104431
Data columns (total 26 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   지점명     104432 non-null  object
 1   방향      104126 non-null  object
 2   0시      83526 non-null   float64
 3   1시      83599 non-null   float64
 4   2시      83592 non-null   float64
 5   3시      83727 non-null   float64
 6   4시      83847 non-null   float64
 7   5시      83933 non-null   float64
 8   6시      83976 non-null   object
 9   7시      83895 non-null   float64
 10  8시      83809 non-null   float64
 11  9시      83843 non-null   float64
 12  10시     83868 non-null   float64
 13  11시     83830 non-null   float64
 14  12시     83845 non-null   float64
 15  13시     83932 non-null   float64
 16  14시     83840 non-null   float64
 17  15시     83985 non-null   float64
 18  16시     84053 non-null   float64
 19  17시     84243 non-null   float64
 20  18시     84362 non-null   float64
 21  19시     84468 non-null   float64
 22  20시     84441 non-null   float64
 23  21시     84383 non-null   float64
 24  22시     83886 non-null   float64
 25  23시     83134 non-null   float64
dtypes: float64(23), object(3)
memory usage: 20.7+ MB

In [168]:
df2017['06시'] = pd.to_numeric(df2017['6시'])

ValueError: Unable to parse string " " at position 27267

In [172]:
tra2017 = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2017년/2017.xlsx',header=0)

In [173]:
tra2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104432 entries, 0 to 104431
Data columns (total 26 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   지점명     104432 non-null  object
 1   방향      104126 non-null  object
 2   0시      83526 non-null   float64
 3   1시      83599 non-null   float64
 4   2시      83592 non-null   float64
 5   3시      83727 non-null   float64
 6   4시      83847 non-null   float64
 7   5시      83933 non-null   float64
 8   6시      83976 non-null   float64
 9   7시      83895 non-null   float64
 10  8시      83809 non-null   float64
 11  9시      83843 non-null   float64
 12  10시     83868 non-null   float64
 13  11시     83830 non-null   float64
 14  12시     83845 non-null   float64
 15  13시     83932 non-null   float64
 16  14시     83840 non-null   float64
 17  15시     83985 non-null   float64
 18  16시     84053 non-null   float64
 19  17시     84243 non-null   float64
 20  18시     84362 non-null   float64
 21  19시     84468 non-null   float64
 22  20시     84441 non-null   float64
 23  21시     84383 non-null   float64
 24  22시     83886 non-null   float64
 25  23시     83134 non-null   float64
dtypes: float64(24), object(2)
memory usage: 20.7+ MB

# 통행량 총 병합

In [191]:
traffic = pd.concat([df2015,df2016,tra2017,df2018,df2019,df2020],ignore_index=True)
traffic

,지점명,방향,0시,1시,2시,3시,4시,5시,6시,7시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,삼청터널,성북동→삼청동,31.0,14.0,8.0,9.0,20.0,54.0,289.0,825.0,...,308.0,254.0,253.0,260.0,274.0,172.0,169.0,141.0,108.0,78.0
1,삼청터널,성북동→삼청동,54.0,41.0,21.0,24.0,18.0,27.0,79.0,141.0,...,327.0,302.0,295.0,268.0,226.0,173.0,162.0,135.0,108.0,62.0
2,삼청터널,성북동→삼청동,45.0,35.0,14.0,10.0,13.0,17.0,55.0,78.0,...,353.0,282.0,259.0,251.0,177.0,169.0,141.0,90.0,72.0,41.0
3,삼청터널,성북동→삼청동,25.0,13.0,15.0,15.0,21.0,79.0,426.0,914.0,...,254.0,242.0,256.0,240.0,236.0,162.0,143.0,149.0,123.0,69.0
4,삼청터널,성북동→삼청동,46.0,30.0,12.0,13.0,24.0,60.0,311.0,885.0,...,514.0,407.0,342.0,313.0,298.0,149.0,160.0,133.0,122.0,81.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557081,서부간선도로,목동교->신정교,1310.0,804.0,582.0,473.0,488.0,745.0,1224.0,1472.0,...,3026.0,2957.0,2799.0,2858.0,2805.0,3031.0,3173.0,2928.0,2278.0,1559.0
557082,서부간선도로,목동교->신정교,1030.0,614.0,501.0,565.0,1160.0,2515.0,2908.0,2219.0,...,2925.0,2595.0,2705.0,2264.0,2272.0,2954.0,3081.0,3099.0,2521.0,1837.0
557083,서부간선도로,목동교->신정교,1294.0,833.0,582.0,597.0,900.0,2236.0,3135.0,2376.0,...,2634.0,2851.0,2704.0,2163.0,2165.0,2738.0,3054.0,3078.0,2544.0,1952.0
557084,서부간선도로,목동교->신정교,1451.0,929.0,616.0,591.0,929.0,2067.0,3099.0,2509.0,...,2901.0,2636.0,2175.0,2036.0,1969.0,2787.0,3058.0,2936.0,2730.0,2160.0
557085,서부간선도로,목동교->신정교,1497.0,926.0,721.0,540.0,857.0,1751.0,3079.0,2746.0,...,2742.0,2261.0,2021.0,2043.0,1782.0,2543.0,2927.0,2627.0,2699.0,1955.0

## 통행량 데이터의 시간대별 결측치를 전체 통행량의 평균으로 계산

In [192]:
traffic.fillna({"0시":traffic["0시"].mean(),"1시":traffic["1시"].mean(),"2시":traffic['2시'].mean(),"3시":traffic["3시"].mean(),
"4시":traffic['4시'].mean(),'5시':traffic["5시"].mean(),"6시":traffic["6시"].mean(),"7시":traffic["7시"].mean(),    
'8시':traffic['8시'].mean(),'9시':traffic['9시'].mean(),'10시':traffic['10시'].mean(),'11시':traffic['11시'].mean(),
'12시':traffic['12시'].mean(),'13시':traffic['13시'].mean(),'14시':traffic['14시'].mean(),'15시':traffic['15시'].mean(),
'16시':traffic['16시'].mean(),'17시':traffic['17시'].mean(),'18시':traffic['18시'].mean(),'19시':traffic['19시'].mean(),
'20시':traffic['20시'].mean(),'21시':traffic['21시'].mean(),'22시':traffic['22시'].mean(),'23시':traffic['23시'].mean()},inplace=True)

In [177]:
traffic.to_excel('C:/Users/wnrrh/desktop/data/통행량/traffic.xlsx')

In [193]:
traffic

,지점명,방향,0시,1시,2시,3시,4시,5시,6시,7시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,삼청터널,성북동→삼청동,31.0,14.0,8.0,9.0,20.0,54.0,289.0,825.0,...,308.0,254.0,253.0,260.0,274.0,172.0,169.0,141.0,108.0,78.0
1,삼청터널,성북동→삼청동,54.0,41.0,21.0,24.0,18.0,27.0,79.0,141.0,...,327.0,302.0,295.0,268.0,226.0,173.0,162.0,135.0,108.0,62.0
2,삼청터널,성북동→삼청동,45.0,35.0,14.0,10.0,13.0,17.0,55.0,78.0,...,353.0,282.0,259.0,251.0,177.0,169.0,141.0,90.0,72.0,41.0
3,삼청터널,성북동→삼청동,25.0,13.0,15.0,15.0,21.0,79.0,426.0,914.0,...,254.0,242.0,256.0,240.0,236.0,162.0,143.0,149.0,123.0,69.0
4,삼청터널,성북동→삼청동,46.0,30.0,12.0,13.0,24.0,60.0,311.0,885.0,...,514.0,407.0,342.0,313.0,298.0,149.0,160.0,133.0,122.0,81.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557081,서부간선도로,목동교->신정교,1310.0,804.0,582.0,473.0,488.0,745.0,1224.0,1472.0,...,3026.0,2957.0,2799.0,2858.0,2805.0,3031.0,3173.0,2928.0,2278.0,1559.0
557082,서부간선도로,목동교->신정교,1030.0,614.0,501.0,565.0,1160.0,2515.0,2908.0,2219.0,...,2925.0,2595.0,2705.0,2264.0,2272.0,2954.0,3081.0,3099.0,2521.0,1837.0
557083,서부간선도로,목동교->신정교,1294.0,833.0,582.0,597.0,900.0,2236.0,3135.0,2376.0,...,2634.0,2851.0,2704.0,2163.0,2165.0,2738.0,3054.0,3078.0,2544.0,1952.0
557084,서부간선도로,목동교->신정교,1451.0,929.0,616.0,591.0,929.0,2067.0,3099.0,2509.0,...,2901.0,2636.0,2175.0,2036.0,1969.0,2787.0,3058.0,2936.0,2730.0,2160.0
557085,서부간선도로,목동교->신정교,1497.0,926.0,721.0,540.0,857.0,1751.0,3079.0,2746.0,...,2742.0,2261.0,2021.0,2043.0,1782.0,2543.0,2927.0,2627.0,2699.0,1955.0

## 같은 지점, 같은 방향에 대해 groupby함수로 병합

In [194]:
traffic = traffic.groupby(['지점명','방향']).mean()
traffic

                                        0시          1시          2시  \
지점명           방향
가양대교          가양대교 남단→가양대교 북단   809.849267  546.695207  391.760086
              가양대교 북단→가양대교 남단   435.119537  307.918180  222.720806
              가양대교남단->가양대교북단   1297.204809  965.650064  755.761703
              가양대교북단->가양대교남단   1211.625951  892.988374  697.163907
강남대로(강남역-신분당) 강남역->뱅뱅사거리        748.354533  556.959041  446.317931
...                                    ...         ...         ...
화랑로(조선왕릉)     화랑대사거리->갈매교차로     578.055752  460.293343  372.275147
화랑로(화랑대역)     북부검찰청입구->화랑대역    1166.952998  921.669922  756.596234
              태릉입구역->화랑대역       858.987812  617.859091  468.971399
              화랑대역->북부검찰청입구    1035.187039  830.414500  683.831550
              화랑대역->태릉입구역       690.501915  495.662442  359.877761

                                       3시          4시           5시  \
지점명           방향
가양대교          가양대교 남단→가양대교 북단  320.259190  353.127919   689.554872
              가양대교 북단→가양대교 남단  167.536217  184.971519   347.599281
              가양대교남단->가양대교북단   676.553155  802.338964  1672.100523
              가양대교북단->가양대교남단   607.116023  726.281430  1333.812507
강남대로(강남역-신분당) 강남역->뱅뱅사거리       354.754618  306.826474   399.563310
...                                   ...         ...          ...
화랑로(조선왕릉)     화랑대사거리->갈매교차로    332.253250  367.471816   598.739028
화랑로(화랑대역)     북부검찰청입구->화랑대역    707.402243  815.917194  1312.403159
              태릉입구역->화랑대역      435.335170  569.580561  1095.311256
              화랑대역->북부검찰청입구    611.510621  697.200239   970.822270
              화랑대역->태릉입구역      311.292901  407.581652   714.323765

                                        6시           7시           8시  \
지점명           방향
가양대교          가양대교 남단→가양대교 북단  1219.910886  1425.311575  1746.462737
              가양대교 북단→가양대교 남단   761.821693   853.689472   994.962737
              가양대교남단->가양대교북단   2535.651409  2788.201322  3265.391448
              가양대교북단->가양대교남단   2386.077399  2437.502241  2776.512398
강남대로(강남역-신분당) 강남역->뱅뱅사거리        770.823924  1142.802462  1261.248713
...                                    ...          ...          ...
화랑로(조선왕릉)     화랑대사거리->갈매교차로    1028.248207  1434.270784  1517.555550
화랑로(화랑대역)     북부검찰청입구->화랑대역    1821.015992  1877.354623  1948.351005
              태릉입구역->화랑대역      1547.706207  1574.667948  1592.253335
              화랑대역->북부검찰청입구    1496.165862  1937.423926  2145.325263
              화랑대역->태릉입구역      1154.082852  1591.794838  1816.562139

                                        9시  ...          14시          15시  \
지점명           방향                            ...
가양대교          가양대교 남단→가양대교 북단  1780.494985  ...  1948.135258  1945.949204
              가양대교 북단→가양대교 남단  1018.715659  ...   975.225774  1047.800555
              가양대교남단->가양대교북단   3277.591629  ...  3305.631372  3306.117966
              가양대교북단->가양대교남단   2977.870042  ...  3153.537114  3261.068506
강남대로(강남역-신분당) 강남역->뱅뱅사거리       1257.371995  ...  1539.150753  1596.521125
...                                    ...  ...          ...          ...
화랑로(조선왕릉)     화랑대사거리->갈매교차로    1424.737362  ...  1388.323884  1425.090750
화랑로(화랑대역)     북부검찰청입구->화랑대역    1981.759337  ...  2104.609932  2058.830781
              태릉입구역->화랑대역      1723.302901  ...  1923.335477  1890.923706
              화랑대역->북부검찰청입구    2224.258371  ...  2111.195727  2155.154869
              화랑대역->태릉입구역      1829.630884  ...  1817.836028  1874.909457

                                       16시          17시          18시  \
지점명           방향
가양대교          가양대교 남단→가양대교 북단  2011.116856  2085.437430  2110.642927
              가양대교 북단→가양대교 남단  1086.016185  1148.744785  1139.324343
              가양대교남단->가양대교북단   3395.046637  3416.187553  3270.855826
              가양대교북단->가양대교남단   3396.603728  3346.850889  3039.797093
강남대로(강남역-신분당) 강남역->뱅뱅사거리       1639.757108  1689.855302  1660.518070
...                                    ...          ...          ...
화랑로(조선왕릉)     화랑대사거리->갈매교차로    1454.646206  1496.797240  1459.553544
화랑로(화랑대역)     북부검찰청입구->화랑대역    2045.513080  1976.978886  1838.680030
              태릉입구역->화랑대역      1911.411039  1800.958537  1670.460995
              화랑대역->북부검찰청입구    2142.545722  2158.249688  2208.986437
              화랑대역->태릉입구역      1892.457114  1984.965878  2027.072446

                                       19시          20시          21시  \
지점명           방향
가양대교          가양대교 남단→가양대교 북단  1832.321647  1689.163899  1668.816974
              가양대교 북단→가양대교 남단  1010.660363   879.984859   860.559758
              가양대교남단->가양대교북단   2860.200575  2611.037420  2624.013933
              가양대교북단->가양대교남단   2856.346462  2630.500831  2558.013113
강남대로(강남역-신분당) 강남역->뱅뱅사거리       1538.704172  1393.172575  1285.054398
...                                    ...          ...          ...
화랑로(조선왕릉)     화랑대사거리->갈매교차로    1359.509847  1138.221817  1058.704426
화랑로(화랑대역)     북부검찰청입구->화랑대역    1797.089406  1764.157896  1769.696755
              태릉입구역->화랑대역      1598.498928  1505.116677  1465.923048
              화랑대역->북부검찰청입구    2107.880156  1918.167543  1792.632551
              화랑대역->태릉입구역      1897.371824  1615.645989  1467.399139

                                       22시          23시
지점명           방향
가양대교          가양대교 남단→가양대교 북단  1566.351117  1179.056306
              가양대교 북단→가양대교 남단   783.319989   606.172628
              가양대교남단->가양대교북단   2394.970138  1805.024709
              가양대교북단->가양대교남단   2247.777849  1630.195723
강남대로(강남역-신분당) 강남역->뱅뱅사거리       1196.484828   978.941928
...                                    ...          ...
화랑로(조선왕릉)     화랑대사거리->갈매교차로     963.229054   737.127182
화랑로(화랑대역)     북부검찰청입구->화랑대역    1634.732259  1436.498055
              태릉입구역->화랑대역      1334.007582  1100.786604
              화랑대역->북부검찰청입구    1590.669145  1259.873359
              화랑대역->태릉입구역      1256.411226   904.553778

[732 rows x 24 columns]

In [101]:
traffic = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/traffic.xlsx',header=0)

In [102]:
df = pd.read_excel('C:/Users/wnrrh/desktop/data/통행량/2020년/2012.xlsx',sheet_name = '수집지점 주소 및 좌표',header=0)

In [103]:
columns = ['지점번호','지점명칭','위도','경도','주소',
           '도로명 주소','유입방향','유출방향']
df.columns = columns

In [104]:
df.drop(['위도','경도','지점번호','주소','도로명 주소','유출방향'],axis=1,inplace=True)

In [105]:
df['유입방향'] = df['유입방향'].astype('str')
df['유입방향'].dtypes
data_list = df['유입방향'].str.split(']')
df['도로명1'] = data_list.str.get(0)
df

            지점명칭                  유입방향     도로명1
0      성산로(금화터널)     [성산로]봉원고가차도->독립문역     [성산로
1      사직로(사직터널)        [사직로]독립문역->사직단     [사직로
2    자하문로(자하문터널)     [자하문로]석파정->청운초등학교    [자하문로
3     대사관로(삼청터널)      [삼청로]삼청각->삼청공원입구     [삼청로
4       율곡로(안국역)      [율곡로]안국역->안국동사거리     [율곡로
..           ...                   ...      ...
130       동부간선도로      [동부간선도로]장안교->군자교  [동부간선도로
131       경부고속도로  [경부고속도로]서초2교 -> 서초IC  [경부고속도로
132        분당수서로     [분당수서로]수서IC->탄천1교   [분당수서로
133  강남순환로(관악터널)    [강남순환로]금천요금소->관악IC   [강남순환로
134       서부간선도로      [서부간선도로]신정교->목동교  [서부간선도로

[135 rows x 3 columns]

In [106]:
df['도로명1'] = df['도로명1'].astype('str')
df['유입방향'].dtypes
data_list = df['도로명1'].str.split('[')
df['도로명'] = data_list.str.get(1)
df

            지점명칭                  유입방향     도로명1     도로명
0      성산로(금화터널)     [성산로]봉원고가차도->독립문역     [성산로     성산로
1      사직로(사직터널)        [사직로]독립문역->사직단     [사직로     사직로
2    자하문로(자하문터널)     [자하문로]석파정->청운초등학교    [자하문로    자하문로
3     대사관로(삼청터널)      [삼청로]삼청각->삼청공원입구     [삼청로     삼청로
4       율곡로(안국역)      [율곡로]안국역->안국동사거리     [율곡로     율곡로
..           ...                   ...      ...     ...
130       동부간선도로      [동부간선도로]장안교->군자교  [동부간선도로  동부간선도로
131       경부고속도로  [경부고속도로]서초2교 -> 서초IC  [경부고속도로  경부고속도로
132        분당수서로     [분당수서로]수서IC->탄천1교   [분당수서로   분당수서로
133  강남순환로(관악터널)    [강남순환로]금천요금소->관악IC   [강남순환로   강남순환로
134       서부간선도로      [서부간선도로]신정교->목동교  [서부간선도로  서부간선도로

[135 rows x 4 columns]

In [107]:
traffic = traffic.groupby(['지점명']).sum()
traffic = traffic.reset_index(drop=False)

In [108]:
traffic

,지점명,0시,1시,2시,3시,4시,5시,6시,7시,8시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,가양대교,809.849267,546.695207,391.760086,320.259190,353.127919,689.554872,1219.910886,1425.311575,1746.462737,...,1948.135258,1945.949204,2011.116856,2085.437430,2110.642927,1832.321647,1689.163899,1668.816974,1566.351117,1179.056306
1,강남대로(강남역-신분당),748.354533,556.959041,446.317931,354.754618,306.826474,399.563310,770.823924,1142.802462,1261.248713,...,1539.150753,1596.521125,1639.757108,1689.855302,1660.518070,1538.704172,1393.172575,1285.054398,1196.484828,978.941928
2,강남대로(신사역),1777.261044,1549.531797,1330.226042,1124.064546,1016.867756,1049.989663,1235.671017,1560.718153,1724.951691,...,2089.717901,2169.361027,2217.010208,2321.781820,2353.837891,2258.294302,2143.880379,2204.664557,2150.682231,1957.468875
3,강남순환로,712.246771,458.758234,315.383320,235.963794,246.791629,464.351504,1100.896350,1705.234684,1841.710312,...,2023.696887,2143.830679,2359.805672,2793.261091,2828.309760,2403.061788,1915.829329,1630.400765,1455.507865,1099.725490
4,강동대교,364.651336,251.784192,186.691036,155.134001,179.449486,350.823705,658.649655,897.807821,1002.097805,...,1104.676134,1153.215659,1199.214565,1199.158718,1146.877669,1060.127129,935.924870,859.030254,717.156988,538.103250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,화곡로(화곡로입구),476.994778,356.796216,285.320272,263.021562,352.014869,774.790827,1109.236210,1153.940761,1228.238469,...,1238.381426,1230.748024,1252.209270,1211.927670,1171.905465,1069.041345,991.200739,961.340488,825.243434,650.417334
281,화곡터널,727.467647,601.100000,477.076745,411.769612,398.267791,556.999573,775.080592,1101.202437,1235.037830,...,1188.137769,1221.908685,1214.907646,1212.544185,1202.067942,1171.938617,1097.105150,1059.211365,1006.086065,841.462399
282,화랑로(상월곡역),871.587153,643.382424,474.860732,428.932565,557.675436,1000.108948,1559.890888,1759.634715,2080.070613,...,1977.690346,1980.422016,1998.502122,1999.612737,2011.369409,1950.348289,1807.614349,1736.678319,1537.145121,1238.187074
283,화랑로(조선왕릉),483.611755,391.314050,306.356706,270.206585,328.726653,496.442190,883.783547,1449.705675,1573.595710,...,1390.804821,1433.962552,1511.902081,1602.814397,1577.859195,1397.390202,1152.273678,1047.097524,886.534925,640.266858
284,화랑로(화랑대역),1166.952998,921.669922,756.596234,707.402243,815.917194,1312.403159,1821.015992,1877.354623,1948.351005,...,2104.609932,2058.830781,2045.513080,1976.978886,1838.680030,1797.089406,1764.157896,1769.696755,1634.732259,1436.498055

In [109]:
df_traffic = pd.DataFrame([], columns = [traffic.keys()[0], "시간대구분", "통행량"])
for i in range(len(traffic)):
    for j in range(1,25): 
        df_traffic.loc[len(df_traffic)] = [traffic.iloc[i,0],j, traffic.iloc[i,j]]
df_traffic

            지점명 시간대구분          통행량
0          가양대교     1   809.849267
1          가양대교     2   546.695207
2          가양대교     3   391.760086
3          가양대교     4   320.259190
4          가양대교     5   353.127919
...         ...   ...          ...
6835  화랑로(화랑대역)    20  1797.089406
6836  화랑로(화랑대역)    21  1764.157896
6837  화랑로(화랑대역)    22  1769.696755
6838  화랑로(화랑대역)    23  1634.732259
6839  화랑로(화랑대역)    24  1436.498055

[6840 rows x 3 columns]

In [110]:
df.drop(['유입방향','도로명1'],axis=1,inplace=True)
df

            지점명칭     도로명
0      성산로(금화터널)     성산로
1      사직로(사직터널)     사직로
2    자하문로(자하문터널)    자하문로
3     대사관로(삼청터널)     삼청로
4       율곡로(안국역)     율곡로
..           ...     ...
130       동부간선도로  동부간선도로
131       경부고속도로  경부고속도로
132        분당수서로   분당수서로
133  강남순환로(관악터널)   강남순환로
134       서부간선도로  서부간선도로

[135 rows x 2 columns]

In [111]:
df.rename(columns = {'지점명칭':'지점명'},inplace=True)
df

             지점명     도로명
0      성산로(금화터널)     성산로
1      사직로(사직터널)     사직로
2    자하문로(자하문터널)    자하문로
3     대사관로(삼청터널)     삼청로
4       율곡로(안국역)     율곡로
..           ...     ...
130       동부간선도로  동부간선도로
131       경부고속도로  경부고속도로
132        분당수서로   분당수서로
133  강남순환로(관악터널)   강남순환로
134       서부간선도로  서부간선도로

[135 rows x 2 columns]

In [117]:
df_traffic[['시간대']] = df_traffic[['시간대구분']].apply(pd.to_numeric)

In [120]:
df_traffic.drop(['시간대구분'],axis=1,inplace=True)

In [125]:
df_traffic = df_traffic.assign(시간대구분 = lambda x: x['시간대']-1)
df_traffic

            지점명          통행량  시간대  시간대구분
0          가양대교   809.849267    1      0
1          가양대교   546.695207    2      1
2          가양대교   391.760086    3      2
3          가양대교   320.259190    4      3
4          가양대교   353.127919    5      4
...         ...          ...  ...    ...
6835  화랑로(화랑대역)  1797.089406   20     19
6836  화랑로(화랑대역)  1764.157896   21     20
6837  화랑로(화랑대역)  1769.696755   22     21
6838  화랑로(화랑대역)  1634.732259   23     22
6839  화랑로(화랑대역)  1436.498055   24     23

[6840 rows x 4 columns]

In [127]:
df_traffic.drop(['시간대'],axis=1,inplace=True)

In [132]:
traffic1 = pd.merge(df_traffic,df, on=['지점명'],how='left')
traffic1

            지점명          통행량  시간대구분  도로명
0          가양대교   809.849267      0  화곡로
1          가양대교   546.695207      1  화곡로
2          가양대교   391.760086      2  화곡로
3          가양대교   320.259190      3  화곡로
4          가양대교   353.127919      4  화곡로
...         ...          ...    ...  ...
6835  화랑로(화랑대역)  1797.089406     19  화랑로
6836  화랑로(화랑대역)  1764.157896     20  화랑로
6837  화랑로(화랑대역)  1769.696755     21  화랑로
6838  화랑로(화랑대역)  1634.732259     22  화랑로
6839  화랑로(화랑대역)  1436.498055     23  화랑로

[6840 rows x 4 columns]

In [129]:
df_traffic.to_excel('C:/Users/wnrrh/desktop/data/통행량/mid.xlsx')

In [130]:
df.to_excel('C:/Users/wnrrh/desktop/data/통행량/doro.xlsx')

In [133]:
traffic1.to_excel('C:/Users/wnrrh/desktop/data/traffic.xlsx')