In [33]:
import numpy as np
import pandas as pd

In [65]:
boho=pd.read_excel("D:/Users/user/Desktop/boho_cl2_2.xlsx")
boho

,Unnamed: 0,시설명,시간대구분,주소,시설종류,구역지정수,CCTV 수,도로표지판 수,과속방지턱 수,위도,...,구역지정2개이하,CCTV3개이하,피해자초고령여부,가해차종4륜유무,피해자연령38세이하,피해차량승합차량여부,일방통행여부,방지턱16개이하,CCTV10개이하,초등학교셔틀버스운영여부
0,0,GKL행복어린이집,0,서울특별시 강남구 삼성로122길 7 (삼성동),어린이집,1,0,12.0,0,37.510432,...,1,1,0,0,1,1,1,1,1,0
1,1,강남구청직장어린이집,0,서울특별시 강남구 학동로 426 (삼성동),어린이집,1,0,8.0,0,37.517966,...,1,1,0,0,1,1,1,1,1,0
2,2,서울삼릉초등학교,0,서울특별시 강남구 봉은사로63길 22 (삼성동),초등학교,4,0,5.4,0,37.513260,...,0,1,0,0,1,1,1,1,1,0
3,3,삼성어린이집(관악구),0,서울특별시 강남구 영동대로122길 7-6 (삼성동),어린이집,1,0,6.0,0,37.496636,...,1,1,0,0,1,1,1,1,1,0
4,4,서울정애학교,0,서울특별시 강남구 봉은사로81길 16 (삼성동),특수학교,2,0,6.0,0,37.514363,...,1,1,0,0,1,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36235,36235,일신유치원,19,서울특별시 중구 퇴계로6길 36,유치원,1,0,0.0,0,37.556706,...,1,1,0,0,1,1,0,1,1,0
36236,36236,일신유치원,20,서울특별시 중구 퇴계로6길 36,유치원,1,0,0.0,0,37.556706,...,1,1,0,0,1,1,0,1,1,0
36237,36237,일신유치원,21,서울특별시 중구 퇴계로6길 36,유치원,1,0,0.0,0,37.556706,...,1,1,0,0,1,1,0,1,1,0
36238,36238,일신유치원,22,서울특별시 중구 퇴계로6길 36,유치원,1,0,0.0,0,37.556706,...,1,1,0,0,1,1,0,1,1,0
36239,36239,일신유치원,23,서울특별시 중구 퇴계로6길 36,유치원,1,0,0.0,0,37.556706,...,1,1,0,0,1,1,0,1,1,0

In [66]:
x=boho[boho["cluster_label"]==1][boho["시설종류"]=='초등학교']
x

<ipython-input-66-f976504ef289>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  x=boho[boho["cluster_label"]==1][boho["시설종류"]=='초등학교']

,Unnamed: 0,시설명,시간대구분,주소,시설종류,구역지정수,CCTV 수,도로표지판 수,과속방지턱 수,위도,...,구역지정2개이하,CCTV3개이하,피해자초고령여부,가해차종4륜유무,피해자연령38세이하,피해차량승합차량여부,일방통행여부,방지턱16개이하,CCTV10개이하,초등학교셔틀버스운영여부
6064,6064,서울문백초등학교,9,서울특별시 금천구 시흥대로47길 43-1 (시흥동),초등학교,1,0,10.000000,0,37.447009,...,1,1,0,1,1,0,1,1,1,0
9674,9674,서울숭미초등학교,16,서울특별시 도봉구 노해로 179 (쌍문동),초등학교,4,0,13.000000,0,37.650845,...,0,1,0,1,1,0,1,1,1,0
10887,10887,서울신목초등학교,10,서울특별시 양천구 신목로5길 11-6 (신정동),초등학교,5,9,6.000000,25,37.516611,...,0,0,0,1,1,0,0,0,1,0
13250,13250,서울강남초등학교,17,서울특별시 동작구 강남초등길 15 (상도1동),초등학교,2,0,0.000000,4,37.506160,...,1,1,0,0,1,0,0,1,1,0
21118,21118,서울종암초등학교,14,서울특별시 동대문구 무학로44길 25 (제기동),초등학교,6,0,0.000000,10,37.582306,...,0,1,0,1,0,0,1,1,1,0
26642,26642,서울숭례초등학교,16,서울특별시 성북구 종암로5길 14 (종암동),초등학교,4,5,8.024071,66,37.594523,...,0,0,0,1,0,0,0,0,1,0
34931,34931,서울삼광초등학교,5,서울특별시 용산구 두텁바위로1나길 19,초등학교,5,6,37.000000,21,37.547753,...,0,0,0,1,0,0,0,0,1,0

In [67]:
x.keys()

Index(['Unnamed: 0', '시설명', '시간대구분', '주소', '시설종류', '구역지정수', 'CCTV 수',
       '도로표지판 수', '과속방지턱 수', '위도', '경도', 'CCTV설치여부', '보호구역도로폭', 'tmp', '속도',
       '도로명', '행정동', '시군구명', '총생활인구수', '사망자수', '중상자수', '경상자수', '부상신고자수',
       '가해운전자 차종', '피해운전자 차종', '피해운전자 연령', '사고 수', '통행량 도로명', '통행량', '면적',
       '인구밀도', '위험도', 'cluster_label', '위험도군집', '일출/일몰', '등하교시간', '점심시간',
       '가해차종엔진125cc이상', '피해자어린이유무', '피해자교통수단탑승유무', '보호구역초등학교여부', '활동시간',
       '1차선이하', '표지판8개이하', '방지턱43개이하', '구역지정2개이하', 'CCTV3개이하', '피해자초고령여부',
       '가해차종4륜유무', '피해자연령38세이하', '피해차량승합차량여부', '일방통행여부', '방지턱16개이하',
       'CCTV10개이하', '초등학교셔틀버스운영여부'],
      dtype='object')

In [77]:
x_v1=x.drop(['Unnamed: 0','주소','위도', '경도','tmp','도로명', '행정동', '시군구명','총생활인구수', '사망자수', '중상자수', '경상자수',
             '부상신고자수','사고 수', '통행량 도로명', '통행량', '면적','인구밀도','시설종류'],axis=1)
x_v1

,시설명,시간대구분,시설종류,구역지정수,CCTV 수,도로표지판 수,과속방지턱 수,CCTV설치여부,보호구역도로폭,속도,...,구역지정2개이하,CCTV3개이하,피해자초고령여부,가해차종4륜유무,피해자연령38세이하,피해차량승합차량여부,일방통행여부,방지턱16개이하,CCTV10개이하,초등학교셔틀버스운영여부
6064,서울문백초등학교,9,초등학교,1,0,10.000000,0,0,0.00000,24.917147,...,1,1,0,1,1,0,1,1,1,0
9674,서울숭미초등학교,16,초등학교,4,0,13.000000,0,0,3.00000,20.254158,...,0,1,0,1,1,0,1,1,1,0
10887,서울신목초등학교,10,초등학교,5,9,6.000000,25,1,19.00000,21.203616,...,0,0,0,1,1,0,0,0,1,0
13250,서울강남초등학교,17,초등학교,2,0,0.000000,4,0,7.00000,21.103155,...,1,1,0,0,1,0,0,1,1,0
21118,서울종암초등학교,14,초등학교,6,0,0.000000,10,0,4.74705,20.953179,...,0,1,0,1,0,0,1,1,1,0
26642,서울숭례초등학교,16,초등학교,4,5,8.024071,66,1,11.00000,24.082948,...,0,0,0,1,0,0,0,0,1,0
34931,서울삼광초등학교,5,초등학교,5,6,37.000000,21,1,11.00000,28.560070,...,0,0,0,1,0,0,0,0,1,0

In [78]:
x_v2=x_v1.iloc[[0,1,3,4,5],:]

In [79]:
x_v2

,시설명,시간대구분,시설종류,구역지정수,CCTV 수,도로표지판 수,과속방지턱 수,CCTV설치여부,보호구역도로폭,속도,...,구역지정2개이하,CCTV3개이하,피해자초고령여부,가해차종4륜유무,피해자연령38세이하,피해차량승합차량여부,일방통행여부,방지턱16개이하,CCTV10개이하,초등학교셔틀버스운영여부
6064,서울문백초등학교,9,초등학교,1,0,10.000000,0,0,0.00000,24.917147,...,1,1,0,1,1,0,1,1,1,0
9674,서울숭미초등학교,16,초등학교,4,0,13.000000,0,0,3.00000,20.254158,...,0,1,0,1,1,0,1,1,1,0
13250,서울강남초등학교,17,초등학교,2,0,0.000000,4,0,7.00000,21.103155,...,1,1,0,0,1,0,0,1,1,0
21118,서울종암초등학교,14,초등학교,6,0,0.000000,10,0,4.74705,20.953179,...,0,1,0,1,0,0,1,1,1,0
26642,서울숭례초등학교,16,초등학교,4,5,8.024071,66,1,11.00000,24.082948,...,0,0,0,1,0,0,0,0,1,0

In [80]:
n_stu=[730,812,834,573,805]

In [81]:
x_v2["학생수"]=0
for i in range(len(x_v2)):
    x_v2.iloc[i,-1]=n_stu[i]

<ipython-input-81-39e2443a5431>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_v2["학생수"]=0
C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [82]:
x_v2

,시설명,시간대구분,시설종류,구역지정수,CCTV 수,도로표지판 수,과속방지턱 수,CCTV설치여부,보호구역도로폭,속도,...,CCTV3개이하,피해자초고령여부,가해차종4륜유무,피해자연령38세이하,피해차량승합차량여부,일방통행여부,방지턱16개이하,CCTV10개이하,초등학교셔틀버스운영여부,학생수
6064,서울문백초등학교,9,초등학교,1,0,10.000000,0,0,0.00000,24.917147,...,1,0,1,1,0,1,1,1,0,730
9674,서울숭미초등학교,16,초등학교,4,0,13.000000,0,0,3.00000,20.254158,...,1,0,1,1,0,1,1,1,0,812
13250,서울강남초등학교,17,초등학교,2,0,0.000000,4,0,7.00000,21.103155,...,1,0,0,1,0,0,1,1,0,834
21118,서울종암초등학교,14,초등학교,6,0,0.000000,10,0,4.74705,20.953179,...,1,0,1,0,0,1,1,1,0,573
26642,서울숭례초등학교,16,초등학교,4,5,8.024071,66,1,11.00000,24.082948,...,0,0,1,0,0,0,0,1,0,805

In [83]:
x_v2.keys()

Index(['시설명', '시간대구분', '시설종류', '구역지정수', 'CCTV 수', '도로표지판 수', '과속방지턱 수',
       'CCTV설치여부', '보호구역도로폭', '속도', '가해운전자 차종', '피해운전자 차종', '피해운전자 연령', '위험도',
       'cluster_label', '위험도군집', '일출/일몰', '등하교시간', '점심시간', '가해차종엔진125cc이상',
       '피해자어린이유무', '피해자교통수단탑승유무', '보호구역초등학교여부', '활동시간', '1차선이하', '표지판8개이하',
       '방지턱43개이하', '구역지정2개이하', 'CCTV3개이하', '피해자초고령여부', '가해차종4륜유무',
       '피해자연령38세이하', '피해차량승합차량여부', '일방통행여부', '방지턱16개이하', 'CCTV10개이하',
       '초등학교셔틀버스운영여부', '학생수'],
      dtype='object')

In [86]:
idx_imp=[21,32]

In [87]:
x_v2.iloc[:,[0]+idx_imp]

            시설명  피해자교통수단탑승유무  피해차량승합차량여부
6064   서울문백초등학교            0           0
9674   서울숭미초등학교            1           0
13250  서울강남초등학교            1           0
21118  서울종암초등학교            0           0
26642  서울숭례초등학교            0           0

In [142]:
x_imp=x_v2.copy()
bus=5
for i in range(len(x_imp)):
    x_imp.iloc[i,idx_imp[0]]=x_imp.iloc[i,idx_imp[0]]+bus*(99/x_imp.iloc[i,-1])
    x_imp.iloc[i,idx_imp[0]]=x_imp.iloc[i,idx_imp[0]] if x_imp.iloc[i,idx_imp[0]]<1 else 1
    x_imp.iloc[i,idx_imp[1]]=x_imp.iloc[i,idx_imp[1]]+bus*(99/x_imp.iloc[i,-1])
    x_imp.iloc[i,idx_imp[1]]=x_imp.iloc[i,idx_imp[1]] if x_imp.iloc[i,idx_imp[1]]<1 else 1

In [143]:
x_imp.iloc[:,[0]+idx_imp]

            시설명  피해자교통수단탑승유무  피해차량승합차량여부
6064   서울문백초등학교     0.678082    0.678082
9674   서울숭미초등학교     1.000000    0.609606
13250  서울강남초등학교     1.000000    0.593525
21118  서울종암초등학교     0.863874    0.863874
26642  서울숭례초등학교     0.614907    0.614907

In [144]:
a=['시설종류_기타', '시설종류_어린이집','시설종류_유치원', '시설종류_초등학교', '시설종류_특수학교', '시설종류_학원']

In [145]:
for i in a:
    if i=='시설종류_초등학교':
        x_imp[i]=1
    else:
        x_imp[i]=0

In [146]:
x_imp

,시설명,시간대구분,시설종류,구역지정수,CCTV 수,도로표지판 수,과속방지턱 수,CCTV설치여부,보호구역도로폭,속도,...,방지턱16개이하,CCTV10개이하,초등학교셔틀버스운영여부,학생수,시설종류_기타,시설종류_어린이집,시설종류_유치원,시설종류_초등학교,시설종류_특수학교,시설종류_학원
6064,서울문백초등학교,9,초등학교,1,0,10.000000,0,0,0.00000,24.917147,...,1,1,0,730,0,0,0,1,0,0
9674,서울숭미초등학교,16,초등학교,4,0,13.000000,0,0,3.00000,20.254158,...,1,1,0,812,0,0,0,1,0,0
13250,서울강남초등학교,17,초등학교,2,0,0.000000,4,0,7.00000,21.103155,...,1,1,0,834,0,0,0,1,0,0
21118,서울종암초등학교,14,초등학교,6,0,0.000000,10,0,4.74705,20.953179,...,1,1,0,573,0,0,0,1,0,0
26642,서울숭례초등학교,16,초등학교,4,5,8.024071,66,1,11.00000,24.082948,...,0,1,0,805,0,0,0,1,0,0

In [147]:
x_imp.to_excel("D:/Users/user/Desktop/shuttle.xlsx")