In [32]:
import pandas as pd
import numpy as np

In [38]:
accident = pd.read_csv('C:/Users/wnrrh/desktop/data/전처리/사고.csv',header=0)
df = pd.read_excel('C:/Users/wnrrh/desktop/data/전처리/보호구역 현황.xlsx',header=0)
accident2 = pd.read_excel('C:/Users/wnrrh/desktop/data/전처리/accident2.xlsx',header = 0)

사고 데이터 처리

In [ ]:
columns = ["사고번호","사고일시","요일","시군구","사고내용","사망자수","중상자수",
          "경상자수","부상신고자수","사고유형","법규위반","노면상태","기상상태",
          "도로형태","가해운전자 차종","가해운전자 성별","가해운전자 연령","가해운전자 상해정도",
          "피해운전자 차종","피해운전자 성별","피해운전자 연령","피해운전자 상해정도"]
accident.columns = columns

In [ ]:
accident = accident.drop(['요일','사고유형','법규위반','노면상태','기상상태',
              '도로형태','가해운전자 성별','가해운전자 연령','가해운전자 상해정도',
              '피해운전자 성별','피해운전자 상해정도','사고내용'],axis=1, inplace=False)

In [ ]:
accident['사고일시'] = accident['사고일시'].astype('str')
accident['사고일시'].dtypes
data_list = accident['사고일시'].str.split(' ')
data_list.head()
accident['시간대'] = data_list.str.get(3)
accident

In [ ]:
accident['시군구'] = accident['시군구'].astype('str')
accident['시군구'].dtypes
data_list = accident['시군구'].str.split(' ')
data_list.head()
accident['행정동'] = data_list.str.get(2)
accident

가해정도, 피해정도가 큰 순서대로 숫자 대입

In [4]:
accident['가해운전자 차종'].unique()

array(['승용', '이륜', '화물', '원동기', '승합', '기타불명', '자전거', '건설기계', '특수',
       '개인형이동수단(PM)'], dtype=object)

In [5]:
accident['가해운전자 차종'].replace('자전거','1',inplace = True)
accident['가해운전자 차종'].replace('기타불명','10',inplace = True)
accident['가해운전자 차종'].replace('이륜','2',inplace = True)
accident['가해운전자 차종'].replace('원동기','4',inplace = True)
accident['가해운전자 차종'].replace('승용','5',inplace = True)
accident['가해운전자 차종'].replace('승합','6',inplace = True)
accident['가해운전자 차종'].replace('화물','7',inplace = True)
accident['가해운전자 차종'].replace('건설기계','8',inplace = True)
accident['가해운전자 차종'].replace('특수','9',inplace = True)
accident['가해운전자 차종'].replace('개인형이동수단(PM)','3',inplace = True)

In [153]:
accident['피해운전자 차종'].unique()

array(['보행자', '자전거', '승용', '원동기', '화물', '승합', '이륜', nan, '특수', '미분류',
       '기타불명'], dtype=object)

In [154]:
accident['피해운전자 차종'].replace('특수','1',inplace = True)
accident['피해운전자 차종'].replace('화물','2',inplace = True)
accident['피해운전자 차종'].replace('승합','3',inplace = True)
accident['피해운전자 차종'].replace('승용','4',inplace = True)
accident['피해운전자 차종'].replace('원동기','5',inplace = True)
accident['피해운전자 차종'].replace('이륜','6',inplace = True)
accident['피해운전자 차종'].replace('자전거','7',inplace = True)
accident['피해운전자 차종'].replace('미분류','8',inplace = True)
accident['피해운전자 차종'].replace('보행자','9',inplace = True)
accident['피해운전자 차종'].replace('기타불명','10',inplace = True)
accident

,사고번호,사고일시,시군구,사망자수,중상자수,경상자수,부상신고자수,가해운전자 차종,피해운전자 차종,피해운전자 연령,시간대,행정동
0,2015010600100080,2015년 1월 6일 05시,서울특별시 용산구 후암동,1,0,0,0,5,9,75세,05시,후암동
1,2015010700100290,2015년 1월 7일 15시,서울특별시 종로구 계동,0,1,0,0,5,9,16세,15시,계동
2,2015011400100116,2015년 1월 14일 09시,서울특별시 관악구 신림동,0,0,1,0,5,9,10세,09시,신림동
3,2015011400100205,2015년 1월 14일 13시,서울특별시 중랑구 면목동,0,0,1,0,5,9,10세,13시,면목동
4,2015012600100101,2015년 1월 26일 08시,서울특별시 양천구 신정동,0,0,1,0,5,9,20세,08시,신정동
...,...,...,...,...,...,...,...,...,...,...,...,...
1391,2020122000100348,2020년 12월 20일 23시,서울특별시 관악구 봉천동,0,0,1,0,2,4,51세,23시,봉천동
1392,2020122100100593,2020년 12월 21일 21시,서울특별시 성북구 석관동,0,0,1,0,2,9,33세,21시,석관동
1393,2020122800100232,2020년 12월 28일 13시,서울특별시 동작구 대방동,0,0,1,0,6,4,71세,13시,대방동
1394,2020122800100237,2020년 12월 28일 13시,서울특별시 은평구 갈현동,0,0,1,0,5,7,88세,13시,갈현동
1395,2020123100100527,2020년 12월 31일 21시,서울특별시 동작구 사당동,0,1,0,0,6,4,30세,21시,사당동

나이 앞자리 따라서 대입

SyntaxError: invalid syntax (<ipython-input-22-b6b52ba71873>, line 1)

보호구역 데이터에 병합

In [39]:
columns = ['시설명','시간대구분','주소','시설종류','구역지정수','CCTV 수',
           '도로표지판 수','과속방지턱 수','위도','경도','CCTV설치여부',
           '보호구역도로폭','속도','도로명','행정동','자치구','총생활인구수','1','2']
df.columns = columns
df

,시설명,시간대구분,주소,시설종류,구역지정수,CCTV 수,도로표지판 수,과속방지턱 수,위도,경도,CCTV설치여부,보호구역도로폭,속도,도로명,행정동,자치구,총생활인구수,1,2
0,도원유치원,0,서울특별시 용산구 새창로12길 11-8,유치원,2,0,0.0,3,37.538778,126.957624,Y,6.50,24.000878,새창로12길,용문동,용산구,12059.275167,NaN,NaN
1,새현대유치원,0,"서울특별시 마포구 새창로 52 (도화동, 도화동현대아파트)",유치원(일반),3,0,0.0,5,37.540387,126.953599,Y,12.35,24.000878,새창로,도화동,마포구,23186.881052,NaN,NaN
2,진선미어린이집,0,서울특별시 마포구 마포대로4나길 28 (마포동),어린이집,2,0,0.0,6,37.537998,126.945486,Y,5.35,32.644599,마포대로4나길,도화동,마포구,23186.881052,NaN,NaN
3,마포초등학교병설유치원,0,서울특별시 마포구 도화2길 64 (도화동),유치원(병설),0,0,0.0,0,37.538602,126.949817,Y,6.55,32.644599,도화2길,도화동,마포구,23186.881052,NaN,NaN
4,서울마포초등학교,0,서울특별시 마포구 도화2길 64 (도화동),초등학교,2,0,0.0,6,37.538602,126.949817,Y,6.55,32.644599,도화2길,도화동,마포구,23186.881052,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36067,숭미초등학교,21,서울특별시 도봉구 노해로 179 (쌍문동),초등학교,4,0,13.0,0,37.650845,127.027964,Y,3.00,22.480388,노해로,쌍문3동,도봉구,17379.460462,NaN,NaN
36068,쌍문삼성어린이집,22,서울특별시 도봉구 노해로 238 (쌍문동),어린이집,1,0,20.0,0,37.650960,127.034491,Y,0.00,23.033570,노해로,쌍문3동,도봉구,17740.224990,NaN,NaN
36069,숭미초등학교,22,서울특별시 도봉구 노해로 179 (쌍문동),초등학교,4,0,13.0,0,37.650845,127.027964,Y,3.00,23.033570,노해로,쌍문3동,도봉구,17740.224990,NaN,NaN
36070,쌍문삼성어린이집,23,서울특별시 도봉구 노해로 238 (쌍문동),어린이집,1,0,20.0,0,37.650960,127.034491,Y,0.00,24.226443,노해로,쌍문3동,도봉구,16211.912039,NaN,NaN
36071,숭미초등학교,23,서울특별시 도봉구 노해로 179 (쌍문동),초등학교,4,0,13.0,0,37.650845,127.027964,Y,3.00,24.226443,노해로,쌍문3동,도봉구,16211.912039,NaN,NaN

In [40]:
df.drop(['1','2'],axis=1, inplace=True)

In [11]:
df['시간대구분'] = df['시간대구분'].astype('int')
df['시간대구분'].dtypes

dtype('int32')

사고 + 보호구역 현황

In [41]:
columns = ["사고번호","사고일시","시군구","사망자수","중상자수","경상자수",
           "부상신고자수","가해운전자 차종","피해운전자 차종","피해운전자 연령",
           "피해운전자 상해정도","행정동",'시설명']
accident2.columns = columns

In [42]:
accident2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1396 entries, 0 to 1395
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   사고번호        1396 non-null   int64
 1   사고일시        1396 non-null   object
 2   시군구         1396 non-null   object
 3   사망자수        1396 non-null   int64
 4   중상자수        1396 non-null   int64
 5   경상자수        1396 non-null   int64
 6   부상신고자수      1396 non-null   int64
 7   가해운전자 차종    1396 non-null   object
 8   피해운전자 차종    1371 non-null   object
 9   피해운전자 연령    1371 non-null   object
 10  피해운전자 상해정도  1396 non-null   object
 11  행정동         1396 non-null   object
 12  시설명         1396 non-null   object
dtypes: int64(5), object(8)
memory usage: 141.9+ KB

In [45]:
dataframe = pd.merge(accident2, df, on=['시설명'])
dataframe

,사고번호,사고일시,시군구,사망자수,중상자수,경상자수,부상신고자수,가해운전자 차종,피해운전자 차종,피해운전자 연령,...,과속방지턱 수,위도,경도,CCTV설치여부,보호구역도로폭,속도,도로명,행정동_y,자치구,총생활인구수
0,2015062400100406,2015년 6월 24일 17시,서울특별시 강남구 수서동,0,0,1,0,승용,보행자,60세,...,0,37.487979,127.105631,Y,0.00000,32.295863,광평로56길,수서동,강남구,21198.709253
1,2015062400100406,2015년 6월 24일 17시,서울특별시 강남구 수서동,0,0,1,0,승용,보행자,60세,...,0,37.487979,127.105631,Y,0.00000,34.859087,광평로56길,수서동,강남구,21207.488247
2,2015062400100406,2015년 6월 24일 17시,서울특별시 강남구 수서동,0,0,1,0,승용,보행자,60세,...,0,37.487979,127.105631,Y,0.00000,37.285596,광평로56길,수서동,강남구,21262.802937
3,2015062400100406,2015년 6월 24일 17시,서울특별시 강남구 수서동,0,0,1,0,승용,보행자,60세,...,0,37.487979,127.105631,Y,0.00000,38.954417,광평로56길,수서동,강남구,21328.288606
4,2015062400100406,2015년 6월 24일 17시,서울특별시 강남구 수서동,0,0,1,0,승용,보행자,60세,...,0,37.487979,127.105631,Y,0.00000,38.883998,광평로56길,수서동,강남구,21552.122346
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18115,2019020100100289,2019년 2월 1일 13시,서울특별시 중랑구 중화동,0,1,0,0,승용,보행자,68세,...,4,37.597626,127.075969,Y,4.74705,18.315654,중랑역로,중화2동,중랑구,28012.054123
18116,2019020100100289,2019년 2월 1일 13시,서울특별시 중랑구 중화동,0,1,0,0,승용,보행자,68세,...,4,37.597626,127.075969,Y,4.74705,19.039233,중랑역로,중화2동,중랑구,28530.871504
18117,2019020100100289,2019년 2월 1일 13시,서울특별시 중랑구 중화동,0,1,0,0,승용,보행자,68세,...,4,37.597626,127.075969,Y,4.74705,19.886652,중랑역로,중화2동,중랑구,28996.904287
18118,2019020100100289,2019년 2월 1일 13시,서울특별시 중랑구 중화동,0,1,0,0,승용,보행자,68세,...,4,37.597626,127.075969,Y,4.74705,20.788928,중랑역로,중화2동,중랑구,29274.609372
18119,2019020100100289,2019년 2월 1일 13시,서울특별시 중랑구 중화동,0,1,0,0,승용,보행자,68세,...,4,37.597626,127.075969,Y,4.74705,22.088998,중랑역로,중화2동,중랑구,28682.044391

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36072 entries, 0 to 36071
Data columns (total 17 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시설명       36072 non-null  object
 1   시간대구분     36072 non-null  int64
 2   주소        36072 non-null  object
 3   시설종류      36072 non-null  object
 4   구역지정수     36072 non-null  int64
 5   CCTV 수    36072 non-null  int64
 6   도로표지판 수   36072 non-null  float64
 7   과속방지턱 수   36072 non-null  int64
 8   위도        36024 non-null  float64
 9   경도        36000 non-null  float64
 10  CCTV설치여부  36072 non-null  object
 11  보호구역도로폭   36072 non-null  float64
 12  속도        36072 non-null  float64
 13  도로명       36072 non-null  object
 14  행정동       36072 non-null  object
 15  자치구       36072 non-null  object
 16  총생활인구수    36072 non-null  float64
dtypes: float64(6), int64(4), object(7)
memory usage: 4.7+ MB

In [25]:
accident2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1396 entries, 0 to 1395
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   사고번호        1396 non-null   int64
 1   사고일시        1396 non-null   object
 2   시군구         1396 non-null   object
 3   사망자수        1396 non-null   int64
 4   중상자수        1396 non-null   int64
 5   경상자수        1396 non-null   int64
 6   부상신고자수      1396 non-null   int64
 7   가해운전자 차종    1396 non-null   object
 8   피해운전자 차종    1371 non-null   object
 9   피해운전자 연령    1371 non-null   object
 10  피해운전자 상해정도  1396 non-null   object
 11  행정동         1396 non-null   object
 12  시설명         0 non-null      float64
dtypes: float64(1), int64(5), object(7)
memory usage: 141.9+ KB